<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcMovieTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cover.css" />  
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="/Movie">Movie</a>
            <partial name="_LoginPartial" />
        </nav>
        </div>
    </header>

        <main role="main" class="row pb-3">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
            	@RenderSection("LateralDerecho", false)
            </div>
 
            <div class="col-md-12">
            	@RenderSection("AreaInferior", false)
            </div>
        </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>