@model MvcMovie.Models.Comments

<div class="bg-white p-2">
    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">User</span><span class="date text-black-50">Shared publicly - @Model.Date</span></div>
    </div>
    <div class="mt-2">
        <p class="comment-text">@Model.Text</p>
    </div>
</div>