@model List<MvcMovie.Models.Movie>

<form class="form-inline" method="POST" action="/Movie/Find">
  <div class="form-group mx-sm-3 mb-2">
    <label class="mr-3">Buscar película</label>
    <input type="text" class="form-control" required name="movie">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-header">
            <button onclick="deleteMovie(@item.Id)" type="button" class="m-0 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <img src="@item.Poster" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Plot.Substring(0, 60)</p>
            <p class="card-text"><small class="text-muted">@item.Released</small></p>
            <a href="/Movie/Details/@item.Id" class="btn btn-primary"><small>Ver más</small></a>
            <a href="#" onclick="loadComment(@item.Id, event)" class="btn btn-primary"><small>Comentarios</small></a>
        </div>
      </div>
    </div>
    }
</div>

@section LateralDerecho {

  <a asp-controller="Movie" asp-action="Add" class="btn btn-primary mb-2">Agregar pelicula</a>

  <h3>Categorías</h3>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Acción</a>
    <a href="#" class="list-group-item list-group-item-action">Comedia</a>
    <a href="#" class="list-group-item list-group-item-action">Familiar</a>
    <a href="#" class="list-group-item list-group-item-action">Infantil</a>
    <a href="#" class="list-group-item list-group-item-action">Suspenso</a>
  </div>

  @await Component.InvokeAsync("Comments", new { num = 2 })
}

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="div_comment" class="modal-body">
        <div class="spinner-border mx-auto" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>